
.select-list {

    @include flex-between;
    
}

.message-retry {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;

    margin-top: 25px;
}


.hold-text {

    width: 60px;
    height: 35px;

    font-size: 1.4rem;

    border: 1px solid #000;
    padding: 3px;
    margin: 10px 55px;

    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0,0.2);
    }

}


// HOLDの活性・非活性は今回はJSを使わずにやりたいので、チェックボックスで実装
@for $i from 1 through 5 {
    #hold#{$i} {
        display: none;
    }

    #hold#{$i}:checked + .hold-text {
        color: #FFF;
        background-color: #3B404E;
    }

}


.select-button {

    @extend %button--simple;

    width: 120px;
    height: 40px;

    font-size: 1.4rem;
    text-align: center;

    background-color: #F4F3F6;

    margin: 10px 30px;
}

.button--high {
    color: #CB72AA;

    &:hover {
        background-color: #CB72AA;
    }
}
.button--low {
    color: #4893C6;

    &:hover { background-color: #4893C6;
    }
}

.button--ok {
    color: #D3ECF3;

    &:hover { background-color: #D3ECF3;
    }
}
